<hr>
<div style="text-align: center;">
    <i class="fa fa-twitter"></i><a href="https://twitter.com/pranavsanghavi"> @pranavsanghavi</a> </br>
    <i class="fa fa-instagram"></i><a href="https://www.instagram.com/dimensionslost/"> dimensionslost</a></br>
    <i class="fa fa-github"></i><a href="https://github.com/PranavSanghavi"> @PranavSanghavi</a></br>
    <i class="ai ai-orcid"></i><a href="https://orcid.org/0000-0001-5504-229X"> 0000-0001-5504-229X</a></br>
    <i class="ai ai-google-scholar"></i><a href="https://scholar.google.com/citations?user=pfauamYAAAAJ&hl=en">
        Google Scholar Page</a></br>
    <i class="ai ai-arxiv"></i><a href="https://arxiv.org/a/sanghavi_p_1.html"> arXiv Page</a></br>
    <i class="ai ai-ads"></i><a
        href="https://ui.adsabs.harvard.edu/search/q=author%3A(%22Sanghavi%2C%20Pranav%22)&sort=date%20desc%2C%20bibcode%20desc&p_=0">
        find me on the ADS</a></br>

</div>
<hr>
