<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="google-site-verification" content="" />
	<title>Pranav Sanghavi</title>

	<meta name="description" content="Personal Website for Pranav Sanghavi" />
	<meta name="keywords" content="Pranav Sanghavi" />
	<meta property="og:title" content="Pranav Sanghavi" />
	<meta property=" og:url" content="https://pranavsanghavi.com" />
	<meta property="og:description" content="Personal website of Pranav Sanghavi" />
	<meta property="og:type" content="website" />

	<link rel="stylesheet" href="/css/latex-style.css" />
	<link rel="stylesheet" href="/prism/prism.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="/css/academicons.css" rel="stylesheet">

	<script type="text/javascript">
		// Wait for document to load
		document.addEventListener("DOMContentLoaded", function (event) {
			document.documentElement.setAttribute("data-theme", "light");

			// Get our button switcher
			var themeSwitcher = document.getElementById("dark-light");
			var buttonDarkMode = document.getElementById("dark-light");
			// When our button gets clicked
			themeSwitcher.onclick = function () {
				// Get the current selected theme, on the first run
				// it should be `light`
				var currentTheme = document.documentElement.getAttribute("data-theme");
				// Switch between `dark` and `light`
				var switchToTheme = currentTheme === "dark" ? "light" : "dark"
				// Set our current theme to the new one
				document.documentElement.setAttribute("data-theme", switchToTheme);
				if (currentTheme === 'dark') {
					buttonDarkMode.innerHTML = 'Click to switch to Dark Mode';
				} else {
					buttonDarkMode.innerHTML = 'Click to switch to Light Mode';
				}
			}
		});
	</script>
	<!-- Script to print the content of a div -->
	<script>
		function printDiv() {
			var divContents = document.getElementById("printable").innerHTML;
			var a = window.open('', '', 'height=500, width=500');
			a.document.write('<html>');
			a.document.write('<head>');
			a.document.write('<link rel="stylesheet" href="/css/latex-style.css" />')
			a.document.write('<link rel="stylesheet" href="/prism/prism.css" />')
			a.document.write(
				'<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">'
				)
			a.document.write('<link href="/css/academicons.css" rel="stylesheet">')
			a.document.write('</head>');
			a.document.write('<body>');
			a.document.write(divContents);
			a.document.write('</body></html>');
			a.document.close();
			a.print();
		}
	</script>


</head>