<!-- Education -->
<div class="container">
    <h1 id="edu" class="cv-section">Education</h1>
    {% for entry in site.data.cv.edu %}
    <div class="content_left_responsive">
        <p style='float: left; width: 100vw; max-width: 400px;'>
            <b>{{ entry.school }}</b><br>
            {{ entry.degree }}<br>
            {% for detail in entry.details %}
            {% if detail.advisor %}
            Advisor: {{ detail.advisor }}<br>
            {% endif %}
            {% if detail.thesis %}
            Thesis: {{ detail.thesis }}<br>
            {% endif %}
            {% endfor %}
        </p>
    </div>
    <div class="content_left_responsive">
        <p style='float: right'>
            {{ entry.location }}<br>
            {{ entry.dates }}<br>
        </p>
    </div>
    {% endfor %}
</div>

<br>
<a class="no-print" href="#">Go to Top</a>
<br>