<!DOCTYPE HTML>
<html>
{% include head.html %}
<body>

    <header>
		<h1>Pranav Sanghavi: <br />
			A Personal Website</h1>
		<p class="author">
			Pranav Sanghavi <br />
			January 2021
		</p>
	</header>

	<div style="text-align: center;">
		<button onclick="myFunction()">Toggle dark/light mode</button>
	</div>

	<div class="abstract">
		<h2>Abstract</h2>
		<p>
			This website is a brief compilation of details about my person. I direct the reader to pertinent information
			about the author. This is an eternal work in progress <i class="fa fa-cog fa-spin"></i>

		</p>
	</div>
    {{ content }}
    <!-- Footer -->
    {% include footer.html %}
</body>
</html>