<!DOCTYPE HTML>
<html>
{% include head.html %}

<body>
  <!-- Header -->
  {% include header.html %}
  {{ content }}

  <!-- Footer -->
  {% include footer.html %}

  <script type="text/javascript">
    // Get ToC div
    toc = document.getElementById("ToC");
    //Add a header
    tocHeader = document.createElement("h2");
    tocHeader.innerText = "Contents";
    toc.appendChild(tocHeader);

    // Create a list for the ToC entries
    tocList = document.createElement("ol");

    // Get the h3 tags - ToC entries
    headers = document.getElementsByTagName("h2");

    // For each h3
    for (i = 2; i < headers.length; i++) {

      // Create an id
      name = "h" + i;
      headers[i].id = name;

      // a list item for the entry
      tocListItem = document.createElement("li");

      // a link for the h2
      tocEntry = document.createElement("a");
      tocEntry.setAttribute("href", "#" + name);
      tocEntry.innerText = headers[i].innerText;

      tocListItem.appendChild(tocEntry);
      tocList.appendChild(tocListItem);
    }
    toc.appendChild(tocList);
  </script>

</body>

</html>